.nadbar{
    background-color: rgb(208, 205, 205);
    color: blue;
}

h1{
    text-align: center;
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
   
   
}

.fondo{
    background-color: black;
}
button{
    height: 15px;
}
.contador{
    display: flex;
    align-items: center;
}
.contador button{
    margin: 0 10px ;
}