html {
    height: 100%;
  }
body{
    background-color: #000000 !important;
}
.nadbar{
    background-color: #000000;
    color: rgb(164, 167, 245);
  
}
.logo{
    height: 100px;
}


.css-1kfu8nn{
color: #000000 !important;
border: 1px #000  solid;

}



.css-k008qs {
 padding: 0 30px;
  display: flex;
  align-items: center;
}

.chakra-menu__menuitem{
  height: 30px;
  border-bottom: #00000069 1px solid;
}

h1{
    text-align: center;
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
   
   
}
/* loguear */
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgb(0, 2, 36);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(25, 252, 207, 0.845);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #03e9f4;
    text-align: center;
    font-size: xx-large;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  

/* fin de logear */

button{
    height: 15px;
}
.contador{
    display: flex;
    align-items: center;
}
.contador button{
    margin: 0 10px ;
}

.contenedor{
    display: flex;  
    flex-wrap: wrap; 
    min-height: 80vh;
    margin: 20px 10px;
    }
.producto{
    
    margin: 7.5px;
    height: 345px;
    width: 190px;
    
    padding: 0 5px 10px 5px;
    box-shadow: 0 15px 50px rgba(29, 139, 117, 0.845);
    text-align: center;
    transition: 0.5s;
    background-color: rgba(56, 54, 54, 0.405);
}
.producto:hover{
        margin-top: -10px;
        .nombre-producto{
            font-weight: bold;
        }       
}
image{
    width: 180px;
   
   
}  
  .producto .capa {
    height: 0;
    opacity: 0;  
    transition: 0.5;  
}
  .producto:hover .capa {
    opacity: 1;
    position: relative;   
    top: -180px;
    transition: .5s;
  }
.nombre-producto{
    font-family: 'IBM Plex Mono', monospace;
    font-size: small;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
.precio{
    color: rgb(46, 196, 0);
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.espacio-boton{
    height: 60px;
    display: flex;
    flex-direction: column-reverse;
}
.boton{
    background-color: rgb(53, 66, 235);
    border-radius: 2px solid rgb(53, 66, 235);
    height: 40px;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', sans-serif;
    font-size: large;
   border-radius: 1rem;
   transition: 0.5s;
   cursor: pointer;
}
.boton:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(53, 66, 235);}
/* carrito */
.espacio-vacio{
  width: auto;
  display: flex;
justify-content: center;
padding: 20px;
}
.carritovacio{
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
    justify-content: space-around;
    border: #000 1px solid;

}

/* carta del producto */
.detalle-producto{
    margin: 10px;
    padding: 10px;
}

.imagen-detalle{
    height: 350px;
    border: 1px solid rgb(13, 5, 5);
}

.posicion-detalle{
    display: flex;
    justify-content: space-between
   
}
.detalle-detalle{
   width: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start
}
.añadir{
    margin: 15px;
}
.recuadro{
    padding: 10px;
    margin: 15px;
    box-shadow: 0 10px 50px rgba(29, 139, 117, 0.845);
    text-align: center;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.669);
    color: aliceblue;
    border-radius: 1rem;
}
.espacio{
    margin: 15px;
}
.recuadro2{
    padding: 30px;
    margin: 15px;
    box-shadow: 0 20px 30px rgba(29, 139, 117, 0.845);
    text-align: center;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.669);
    color: aliceblue;
    border-radius: 1rem;
}


   
    .boton-carrito{
        align-items: center;
        background: #09f;
        border-radius: 9999px;
        cursor: pointer;
        display: flex;
        height: 32px;
        justify-content: center;
        padding: 4px;
        position: absolute;
        right: 8px;
        top: 8px;
        transition: all .3s ease;
        width: 32px;
        z-index: 9999;
    }
    .boton-carrito:hover{
        scale: 1.1;
    }
    .cart-button ~ input:checked ~ .cart{
    height: 100%;
    display: block;
    }


    
    .cartCard{
      display: flex;
      align-items: center;
    justify-content: space-between;
    border: #fff 1px solid;
    padding: 15px;
    }
    .imagen-carrito{
      height: 150px;
    }

    .itemcart{
      display: flex;
    }
    .boton-carrito2{
      border: #000 1px solid;
      box-shadow: 0 10px 10px rgba(29, 139, 117, 0.845);
      margin: 10px;
    }

    .recuadro-carrito{
      padding: 10px;
      margin: 15px;
      box-shadow: 0 10px 50px rgba(29, 139, 117, 0.845);
      text-align: center;
      transition: 0.5s;
      background-color: rgba(0, 0, 0, 0.669);
      color: aliceblue;
      border-radius: 1rem;
      display: flex;
     
      align-items: center;
    justify-content: space-between;
  }

  .preciototal{
    margin: 15px;
    color: aliceblue;
  }
  .formulario{
    padding: 10px;
    margin: 15px;
    box-shadow: 0 10px 50px rgba(29, 139, 117, 0.845);
    text-align: center;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.669);
    color: aliceblue;
    border-radius: 1rem;
    display: flex;
   flex-direction: column;
  }

  .preciootal{
    color: #fff;
    padding: 15px;
  }

  .itemcart{
    padding: 15px;
    border: #fff solid 1px;
    border-radius:  1rem;
    margin: 15px;
    justify-content: space-around;
  }

  .recuadro-carrito h2{
margin: 10px;
  }